html
    head
        title Users
body#uBody
    include ../partials/header
    p#users Users:
        each pUser in pUsers
            a(href="/users/" + pUser._id) #{pUser.username}
            br